<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijie.mybatisplus.modules.mapper.XyItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lijie.mybatisplus.modules.model.XyItem">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="title" property="title" />
        <result column="introduce" property="introduce" />
        <result column="wordandpic" property="wordandpic" />
        <result column="mid" property="mid" />
        <result column="type" property="type" />
        <result column="menutypeadd" property="menutypeadd" />
        <result column="itemleibie" property="itemleibie" />
        <result column="itemxuhao" property="itemxuhao" />
    </resultMap>

</mapper>
